# yarn
node_modules
package-lock.json
yarn-error.log
yarn.lock

.DS_Store
dist
dist-ssr
*.local

# firebase
.firebase
.firebaserc
firestore.*
storage.rules
firebase-debug.log
functions/
.env

# vscode
.vscode