@font-face {
    font-family: 'iconfont';
    src:  url('../fonts/iconfont.eot?y76zny');
    src:  url('../fonts/iconfont.eot?y76zny#iefix') format('embedded-opentype'),
      url('../fonts/iconfont.ttf?y76zny') format('truetype'),
      url('../fonts/iconfont.woff?y76zny') format('woff'),
      url('../fonts/iconfont.svg?y76zny#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="tsicon-"], [class*=" tsicon-"], i.tsicon, span.tsicon {
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .tsicon-tsicon4:before {
    content: "\e97a";
  }
  .tsicon-ts-icons1:before {
    content: "\e97b";
  }
  .tsicon-ts-icons2:before {
    content: "\e97c";
  }
  .tsicon-ts-icons3:before {
    content: "\e97d";
  }
  .tsicon-tsbaby1:before {
    content: "\e97e";
  }
  .tsicon-tsclose1:before {
    content: "\e97f";
  }
  .tsicon-tscontroller-left:before {
    content: "\e980";
  }
  .tsicon-tscontroller-right:before {
    content: "\e981";
  }
  .tsicon-tsfeature-shape .path1:before {
    content: "\e982";
    color: rgb(0, 0, 0);
    opacity: 0.0500;
  }
  .tsicon-tsfeature-shape .path2:before {
    content: "\e983";
    margin-left: -1.4033203125em;
    color: rgb(0, 0, 0);
  }
  .tsicon-ts-files1:before {
    content: "\e984";
  }
  .tsicon-ts-mail-icon:before {
    content: "\e985";
  }
  .tsicon-ts-phone-icon1:before {
    content: "\e986";
  }
  .tsicon-ts-phone-icon2:before {
    content: "\e987";
  }
  .tsicon-ts-plus1:before {
    content: "\e988";
  }
  .tsicon-ts-quote1:before {
    content: "\e989";
  }
  .tsicon-ts-shape1:before {
    content: "\e98a";
  }
  .tsicon-tsteam-shape .path1:before {
    content: "\e98b";
    color: rgb(0, 0, 0);
  }
  .tsicon-tsteam-shape .path2:before {
    content: "\e98c";
    margin-left: -0.990234375em;
    color: rgb(255, 255, 255);
  }
  .tsicon-tsteam-shape .path3:before {
    content: "\e98d";
    margin-left: -0.990234375em;
    color: rgb(0, 0, 0);
  }
  .tsicon-certificate:before {
    content: "\e965";
  }
  .tsicon-play_icon .path1:before {
    content: "\e966";
    color: rgb(255, 255, 255);
  }
  .tsicon-play_icon .path2:before {
    content: "\e967";
    margin-left: -1em;
    color: rgb(14, 181, 130);
  }
  .tsicon-send:before {
    content: "\e968";
  }
  .tsicon-skill_level:before {
    content: "\e969";
  }
  .tsicon-students:before {
    content: "\e96a";
  }
  .tsicon-time:before {
    content: "\e96b";
  }
  .tsicon-tsarrow:before {
    content: "\e96c";
  }
  .tsicon-tsbook:before {
    content: "\e96d";
  }
  .tsicon-tschecklist:before {
    content: "\e96e";
  }
  .tsicon-tscomment:before {
    content: "\e96f";
  }
  .tsicon-tsemail:before {
    content: "\e970";
  }
  .tsicon-tsicon1:before {
    content: "\e971";
  }
  .tsicon-tsicon2:before {
    content: "\e972";
  }
  .tsicon-tsicon3:before {
    content: "\e973";
  }
  .tsicon-tslanguage:before {
    content: "\e974";
  }
  .tsicon-tslist:before {
    content: "\e975";
  }
  .tsicon-tslock:before {
    content: "\e976";
  }
  .tsicon-tsparcent:before {
    content: "\e977";
  }
  .tsicon-tsphone:before {
    content: "\e978";
  }
  .tsicon-view1:before {
    content: "\e979";
  }
  .tsicon-cart:before {
    content: "\e900";
  }
  .tsicon-envelope:before {
    content: "\e901";
  }
  .tsicon-file:before {
    content: "\e902";
  }
  .tsicon-humburger:before {
    content: "\e903";
  }
  .tsicon-humburger_2:before {
    content: "\e904";
  }
  .tsicon-left_arrow:before {
    content: "\e905";
  }
  .tsicon-load:before {
    content: "\e906";
  }
  .tsicon-plus_fill:before {
    content: "\e907";
  }
  .tsicon-plus_line:before {
    content: "\e908";
  }
  .tsicon-quote:before {
    content: "\e909";
  }
  .tsicon-right_arrow:before {
    content: "\e90a";
  }
  .tsicon-up_arrow:before {
    content: "\e90b";
  }
  .tsicon-user:before {
    content: "\e90c";
  }
  .tsicon-user_group:before {
    content: "\e90d";
  }
  .tsicon-user_plus:before {
    content: "\e90e";
  }
  .tsicon-view:before {
    content: "\e90f";
  }
  .tsicon-mobile:before {
    content: "\e000";
  }
  .tsicon-laptop:before {
    content: "\e001";
  }
  .tsicon-desktop:before {
    content: "\e002";
  }
  .tsicon-tablet:before {
    content: "\e003";
  }
  .tsicon-phone:before {
    content: "\e004";
  }
  .tsicon-document:before {
    content: "\e005";
  }
  .tsicon-documents:before {
    content: "\e006";
  }
  .tsicon-search:before {
    content: "\e007";
  }
  .tsicon-clipboard:before {
    content: "\e008";
  }
  .tsicon-newspaper:before {
    content: "\e009";
  }
  .tsicon-notebook:before {
    content: "\e00a";
  }
  .tsicon-book-open:before {
    content: "\e00b";
  }
  .tsicon-browser:before {
    content: "\e00c";
  }
  .tsicon-calendar:before {
    content: "\e00d";
  }
  .tsicon-presentation:before {
    content: "\e00e";
  }
  .tsicon-picture:before {
    content: "\e00f";
  }
  .tsicon-pictures:before {
    content: "\e010";
  }
  .tsicon-video:before {
    content: "\e011";
  }
  .tsicon-camera:before {
    content: "\e012";
  }
  .tsicon-printer:before {
    content: "\e013";
  }
  .tsicon-toolbox:before {
    content: "\e014";
  }
  .tsicon-briefcase:before {
    content: "\e015";
  }
  .tsicon-wallet:before {
    content: "\e016";
  }
  .tsicon-gift:before {
    content: "\e017";
  }
  .tsicon-bargraph:before {
    content: "\e018";
  }
  .tsicon-grid:before {
    content: "\e019";
  }
  .tsicon-expand:before {
    content: "\e01a";
  }
  .tsicon-focus:before {
    content: "\e01b";
  }
  .tsicon-edit:before {
    content: "\e01c";
  }
  .tsicon-adjustments:before {
    content: "\e01d";
  }
  .tsicon-ribbon:before {
    content: "\e01e";
  }
  .tsicon-hourglass:before {
    content: "\e01f";
  }
  .tsicon-lock:before {
    content: "\e020";
  }
  .tsicon-megaphone:before {
    content: "\e021";
  }
  .tsicon-shield:before {
    content: "\e022";
  }
  .tsicon-trophy:before {
    content: "\e023";
  }
  .tsicon-flag:before {
    content: "\e024";
  }
  .tsicon-map:before {
    content: "\e025";
  }
  .tsicon-puzzle:before {
    content: "\e026";
  }
  .tsicon-basket:before {
    content: "\e027";
  }
  .tsicon-envelope1:before {
    content: "\e028";
  }
  .tsicon-streetsign:before {
    content: "\e029";
  }
  .tsicon-telescope:before {
    content: "\e02a";
  }
  .tsicon-gears:before {
    content: "\e02b";
  }
  .tsicon-key:before {
    content: "\e02c";
  }
  .tsicon-paperclip:before {
    content: "\e02d";
  }
  .tsicon-attachment:before {
    content: "\e02e";
  }
  .tsicon-pricetags:before {
    content: "\e02f";
  }
  .tsicon-lightbulb:before {
    content: "\e030";
  }
  .tsicon-layers:before {
    content: "\e031";
  }
  .tsicon-pencil:before {
    content: "\e032";
  }
  .tsicon-tools:before {
    content: "\e033";
  }
  .tsicon-tools-2:before {
    content: "\e034";
  }
  .tsicon-scissors:before {
    content: "\e035";
  }
  .tsicon-paintbrush:before {
    content: "\e036";
  }
  .tsicon-magnifying-glass:before {
    content: "\e037";
  }
  .tsicon-circle-compass:before {
    content: "\e038";
  }
  .tsicon-linegraph:before {
    content: "\e039";
  }
  .tsicon-mic:before {
    content: "\e03a";
  }
  .tsicon-strategy:before {
    content: "\e03b";
  }
  .tsicon-beaker:before {
    content: "\e03c";
  }
  .tsicon-caution:before {
    content: "\e03d";
  }
  .tsicon-recycle:before {
    content: "\e03e";
  }
  .tsicon-anchor:before {
    content: "\e03f";
  }
  .tsicon-profile-male:before {
    content: "\e040";
  }
  .tsicon-profile-female:before {
    content: "\e041";
  }
  .tsicon-bike:before {
    content: "\e042";
  }
  .tsicon-wine:before {
    content: "\e043";
  }
  .tsicon-hotairballoon:before {
    content: "\e044";
  }
  .tsicon-globe:before {
    content: "\e045";
  }
  .tsicon-genius:before {
    content: "\e046";
  }
  .tsicon-map-pin:before {
    content: "\e047";
  }
  .tsicon-dial:before {
    content: "\e048";
  }
  .tsicon-chat:before {
    content: "\e049";
  }
  .tsicon-heart:before {
    content: "\e04a";
  }
  .tsicon-cloud:before {
    content: "\e04b";
  }
  .tsicon-upload:before {
    content: "\e04c";
  }
  .tsicon-download:before {
    content: "\e04d";
  }
  .tsicon-target:before {
    content: "\e04e";
  }
  .tsicon-hazardous:before {
    content: "\e04f";
  }
  .tsicon-piechart:before {
    content: "\e050";
  }
  .tsicon-speedometer:before {
    content: "\e051";
  }
  .tsicon-global:before {
    content: "\e052";
  }
  .tsicon-compass:before {
    content: "\e053";
  }
  .tsicon-lifesaver:before {
    content: "\e054";
  }
  .tsicon-clock:before {
    content: "\e055";
  }
  .tsicon-aperture:before {
    content: "\e056";
  }
  .tsicon-quote1:before {
    content: "\e057";
  }
  .tsicon-scope:before {
    content: "\e058";
  }
  .tsicon-alarmclock:before {
    content: "\e059";
  }
  .tsicon-refresh:before {
    content: "\e05a";
  }
  .tsicon-happy:before {
    content: "\e05b";
  }
  .tsicon-sad:before {
    content: "\e05c";
  }
  .tsicon-facebook:before {
    content: "\e05d";
  }
  .tsicon-twitter:before {
    content: "\e05e";
  }
  .tsicon-googleplus:before {
    content: "\e05f";
  }
  .tsicon-rss:before {
    content: "\e060";
  }
  .tsicon-tumblr:before {
    content: "\e061";
  }
  .tsicon-linkedin:before {
    content: "\e062";
  }
  .tsicon-dribbble:before {
    content: "\e063";
  }
  .tsicon-home:before {
    content: "\e800";
  }
  .tsicon-apartment:before {
    content: "\e801";
  }
  .tsicon-pencil1:before {
    content: "\e802";
  }
  .tsicon-magic-wand:before {
    content: "\e803";
  }
  .tsicon-drop:before {
    content: "\e804";
  }
  .tsicon-lighter:before {
    content: "\e805";
  }
  .tsicon-poop:before {
    content: "\e806";
  }
  .tsicon-sun:before {
    content: "\e807";
  }
  .tsicon-moon:before {
    content: "\e808";
  }
  .tsicon-cloud1:before {
    content: "\e809";
  }
  .tsicon-cloud-upload:before {
    content: "\e80a";
  }
  .tsicon-cloud-download:before {
    content: "\e80b";
  }
  .tsicon-cloud-sync:before {
    content: "\e80c";
  }
  .tsicon-cloud-check:before {
    content: "\e80d";
  }
  .tsicon-database:before {
    content: "\e80e";
  }
  .tsicon-lock1:before {
    content: "\e80f";
  }
  .tsicon-cog:before {
    content: "\e810";
  }
  .tsicon-trash:before {
    content: "\e811";
  }
  .tsicon-dice:before {
    content: "\e812";
  }
  .tsicon-heart1:before {
    content: "\e813";
  }
  .tsicon-star:before {
    content: "\e814";
  }
  .tsicon-star-half:before {
    content: "\e815";
  }
  .tsicon-star-empty:before {
    content: "\e816";
  }
  .tsicon-flag1:before {
    content: "\e817";
  }
  .tsicon-envelope2:before {
    content: "\e818";
  }
  .tsicon-paperclip1:before {
    content: "\e819";
  }
  .tsicon-inbox:before {
    content: "\e81a";
  }
  .tsicon-eye:before {
    content: "\e81b";
  }
  .tsicon-printer1:before {
    content: "\e81c";
  }
  .tsicon-file-empty:before {
    content: "\e81d";
  }
  .tsicon-file-add:before {
    content: "\e81e";
  }
  .tsicon-enter:before {
    content: "\e81f";
  }
  .tsicon-exit:before {
    content: "\e820";
  }
  .tsicon-graduation-hat:before {
    content: "\e821";
  }
  .tsicon-license:before {
    content: "\e822";
  }
  .tsicon-music-note:before {
    content: "\e823";
  }
  .tsicon-film-play:before {
    content: "\e824";
  }
  .tsicon-camera-video:before {
    content: "\e825";
  }
  .tsicon-camera1:before {
    content: "\e826";
  }
  .tsicon-picture1:before {
    content: "\e827";
  }
  .tsicon-book:before {
    content: "\e828";
  }
  .tsicon-bookmark:before {
    content: "\e829";
  }
  .tsicon-user1:before {
    content: "\e82a";
  }
  .tsicon-users:before {
    content: "\e82b";
  }
  .tsicon-shirt:before {
    content: "\e82c";
  }
  .tsicon-store:before {
    content: "\e82d";
  }
  .tsicon-cart1:before {
    content: "\e82e";
  }
  .tsicon-tag:before {
    content: "\e82f";
  }
  .tsicon-phone-handset:before {
    content: "\e830";
  }
  .tsicon-phone1:before {
    content: "\e831";
  }
  .tsicon-pushpin:before {
    content: "\e832";
  }
  .tsicon-map-marker:before {
    content: "\e833";
  }
  .tsicon-map1:before {
    content: "\e834";
  }
  .tsicon-location:before {
    content: "\e835";
  }
  .tsicon-calendar-full:before {
    content: "\e836";
  }
  .tsicon-keyboard:before {
    content: "\e837";
  }
  .tsicon-spell-check:before {
    content: "\e838";
  }
  .tsicon-screen:before {
    content: "\e839";
  }
  .tsicon-smartphone:before {
    content: "\e83a";
  }
  .tsicon-tablet1:before {
    content: "\e83b";
  }
  .tsicon-laptop1:before {
    content: "\e83c";
  }
  .tsicon-laptop-phone:before {
    content: "\e83d";
  }
  .tsicon-power-switch:before {
    content: "\e83e";
  }
  .tsicon-bubble:before {
    content: "\e83f";
  }
  .tsicon-heart-pulse:before {
    content: "\e840";
  }
  .tsicon-construction:before {
    content: "\e841";
  }
  .tsicon-pie-chart:before {
    content: "\e842";
  }
  .tsicon-chart-bars:before {
    content: "\e843";
  }
  .tsicon-gift1:before {
    content: "\e844";
  }
  .tsicon-diamond:before {
    content: "\e845";
  }
  .tsicon-dinner:before {
    content: "\e847";
  }
  .tsicon-coffee-cup:before {
    content: "\e848";
  }
  .tsicon-leaf:before {
    content: "\e849";
  }
  .tsicon-paw:before {
    content: "\e84a";
  }
  .tsicon-rocket:before {
    content: "\e84b";
  }
  .tsicon-briefcase1:before {
    content: "\e84c";
  }
  .tsicon-bus:before {
    content: "\e84d";
  }
  .tsicon-car:before {
    content: "\e84e";
  }
  .tsicon-train:before {
    content: "\e84f";
  }
  .tsicon-bicycle:before {
    content: "\e850";
  }
  .tsicon-wheelchair:before {
    content: "\e851";
  }
  .tsicon-select:before {
    content: "\e852";
  }
  .tsicon-earth:before {
    content: "\e853";
  }
  .tsicon-smile:before {
    content: "\e854";
  }
  .tsicon-sad1:before {
    content: "\e855";
  }
  .tsicon-neutral:before {
    content: "\e856";
  }
  .tsicon-mustache:before {
    content: "\e857";
  }
  .tsicon-alarm:before {
    content: "\e858";
  }
  .tsicon-bullhorn:before {
    content: "\e859";
  }
  .tsicon-volume-high:before {
    content: "\e85a";
  }
  .tsicon-volume-medium:before {
    content: "\e85b";
  }
  .tsicon-volume-low:before {
    content: "\e85c";
  }
  .tsicon-volume:before {
    content: "\e85d";
  }
  .tsicon-mic1:before {
    content: "\e85e";
  }
  .tsicon-hourglass1:before {
    content: "\e85f";
  }
  .tsicon-undo:before {
    content: "\e860";
  }
  .tsicon-redo:before {
    content: "\e861";
  }
  .tsicon-sync:before {
    content: "\e862";
  }
  .tsicon-history:before {
    content: "\e863";
  }
  .tsicon-clock1:before {
    content: "\e864";
  }
  .tsicon-download1:before {
    content: "\e865";
  }
  .tsicon-upload1:before {
    content: "\e866";
  }
  .tsicon-enter-down:before {
    content: "\e867";
  }
  .tsicon-exit-up:before {
    content: "\e868";
  }
  .tsicon-bug:before {
    content: "\e869";
  }
  .tsicon-code:before {
    content: "\e86a";
  }
  .tsicon-link:before {
    content: "\e86b";
  }
  .tsicon-unlink:before {
    content: "\e86c";
  }
  .tsicon-thumbs-up:before {
    content: "\e86d";
  }
  .tsicon-thumbs-down:before {
    content: "\e86e";
  }
  .tsicon-magnifier:before {
    content: "\e86f";
  }
  .tsicon-cross:before {
    content: "\e870";
  }
  .tsicon-menu:before {
    content: "\e871";
  }
  .tsicon-list:before {
    content: "\e872";
  }
  .tsicon-chevron-up:before {
    content: "\e873";
  }
  .tsicon-chevron-down:before {
    content: "\e874";
  }
  .tsicon-chevron-left:before {
    content: "\e875";
  }
  .tsicon-chevron-right:before {
    content: "\e876";
  }
  .tsicon-arrow-up:before {
    content: "\e877";
  }
  .tsicon-arrow-down:before {
    content: "\e878";
  }
  .tsicon-arrow-left:before {
    content: "\e879";
  }
  .tsicon-arrow-right:before {
    content: "\e87a";
  }
  .tsicon-move:before {
    content: "\e87b";
  }
  .tsicon-warning:before {
    content: "\e87c";
  }
  .tsicon-question-circle:before {
    content: "\e87d";
  }
  .tsicon-menu-circle:before {
    content: "\e87e";
  }
  .tsicon-checkmark-circle:before {
    content: "\e87f";
  }
  .tsicon-cross-circle:before {
    content: "\e880";
  }
  .tsicon-plus-circle:before {
    content: "\e881";
  }
  .tsicon-circle-minus:before {
    content: "\e882";
  }
  .tsicon-arrow-up-circle:before {
    content: "\e883";
  }
  .tsicon-arrow-down-circle:before {
    content: "\e884";
  }
  .tsicon-arrow-left-circle:before {
    content: "\e885";
  }
  .tsicon-arrow-right-circle:before {
    content: "\e886";
  }
  .tsicon-chevron-up-circle:before {
    content: "\e887";
  }
  .tsicon-chevron-down-circle:before {
    content: "\e888";
  }
  .tsicon-chevron-left-circle:before {
    content: "\e889";
  }
  .tsicon-chevron-right-circle:before {
    content: "\e88a";
  }
  .tsicon-crop:before {
    content: "\e88b";
  }
  .tsicon-frame-expand:before {
    content: "\e88c";
  }
  .tsicon-frame-contract:before {
    content: "\e88d";
  }
  .tsicon-layers1:before {
    content: "\e88e";
  }
  .tsicon-funnel:before {
    content: "\e88f";
  }
  .tsicon-text-format:before {
    content: "\e890";
  }
  .tsicon-text-size:before {
    content: "\e892";
  }
  .tsicon-bold:before {
    content: "\e893";
  }
  .tsicon-italic:before {
    content: "\e894";
  }
  .tsicon-underline:before {
    content: "\e895";
  }
  .tsicon-strikethrough:before {
    content: "\e896";
  }
  .tsicon-highlight:before {
    content: "\e897";
  }
  .tsicon-text-align-left:before {
    content: "\e898";
  }
  .tsicon-text-align-center:before {
    content: "\e899";
  }
  .tsicon-text-align-right:before {
    content: "\e89a";
  }
  .tsicon-text-align-justify:before {
    content: "\e89b";
  }
  .tsicon-line-spacing:before {
    content: "\e89c";
  }
  .tsicon-indent-increase:before {
    content: "\e89d";
  }
  .tsicon-indent-decrease:before {
    content: "\e89e";
  }
  .tsicon-page-break:before {
    content: "\e8a2";
  }
  .tsicon-hand:before {
    content: "\e8a5";
  }
  .tsicon-pointer-up:before {
    content: "\e8a6";
  }
  .tsicon-pointer-right:before {
    content: "\e8a7";
  }
  .tsicon-pointer-down:before {
    content: "\e8a8";
  }
  .tsicon-pointer-left:before {
    content: "\e8a9";
  }
  .tsicon-About2:before {
    content: "\e910";
  }
  .tsicon-About3:before {
    content: "\e911";
  }
  .tsicon-About4:before {
    content: "\e912";
  }
  .tsicon-About:before {
    content: "\e913";
  }
  .tsicon-Banner_current:before {
    content: "\e914";
  }
  .tsicon-Banner_factory1:before {
    content: "\e915";
  }
  .tsicon-Banner_factory:before {
    content: "\e916";
  }
  .tsicon-Banner_pumpjack:before {
    content: "\e917";
  }
  .tsicon-Funfacts2:before {
    content: "\e918";
  }
  .tsicon-Funfacts3:before {
    content: "\e919";
  }
  .tsicon-Funfacts4:before {
    content: "\e91a";
  }
  .tsicon-Funfacts:before {
    content: "\e91b";
  }
  .tsicon-vplay:before {
    content: "\e91c";
  }
  .tsicon-newsletter:before {
    content: "\e91d";
  }
  .tsicon-coins-2:before {
    content: "\e91e";
  }
  .tsicon-commerce-2:before {
    content: "\e91f";
  }
  .tsicon-monitor:before {
    content: "\e920";
  }
  .tsicon-graphic-3:before {
    content: "\e921";
  }
  .tsicon-business:before {
    content: "\e922";
  }
  .tsicon-graphic-2:before {
    content: "\e923";
  }
  .tsicon-commerce-1:before {
    content: "\e924";
  }
  .tsicon-hammer:before {
    content: "\e925";
  }
  .tsicon-graphic-1:before {
    content: "\e926";
  }
  .tsicon-graphic:before {
    content: "\e927";
  }
  .tsicon-justice-1:before {
    content: "\e928";
  }
  .tsicon-line:before {
    content: "\e929";
  }
  .tsicon-money-3:before {
    content: "\e92a";
  }
  .tsicon-chart:before {
    content: "\e92b";
  }
  .tsicon-commerce:before {
    content: "\e92c";
  }
  .tsicon-agenda:before {
    content: "\e92d";
  }
  .tsicon-money-2:before {
    content: "\e92e";
  }
  .tsicon-justice:before {
    content: "\e92f";
  }
  .tsicon-money-1:before {
    content: "\e930";
  }
  .tsicon-money:before {
    content: "\e931";
  }
  .tsicon-technology:before {
    content: "\e932";
  }
  .tsicon-coins-1:before {
    content: "\e933";
  }
  .tsicon-coins:before {
    content: "\e934";
  }
  .tsicon-left-arrow:before {
    content: "\e935";
  }
  .tsicon-bank:before {
    content: "\e936";
  }
  .tsicon-calculator:before {
    content: "\e937";
  }
  .tsicon-chart1:before {
    content: "\e938";
  }
  .tsicon-chart2:before {
    content: "\e939";
  }
  .tsicon-checked:before {
    content: "\e93a";
  }
  .tsicon-clock2:before {
    content: "\e93b";
  }
  .tsicon-comment:before {
    content: "\e93c";
  }
  .tsicon-comments:before {
    content: "\e93d";
  }
  .tsicon-consult:before {
    content: "\e93e";
  }
  .tsicon-consut2:before {
    content: "\e93f";
  }
  .tsicon-deal:before {
    content: "\e940";
  }
  .tsicon-download2:before {
    content: "\e941";
  }
  .tsicon-envelope3:before {
    content: "\e942";
  }
  .tsicon-euro:before {
    content: "\e943";
  }
  .tsicon-folder:before {
    content: "\e944";
  }
  .tsicon-invest:before {
    content: "\e945";
  }
  .tsicon-loan:before {
    content: "\e946";
  }
  .tsicon-map-marker1:before {
    content: "\e947";
  }
  .tsicon-mutual-fund:before {
    content: "\e948";
  }
  .tsicon-percent:before {
    content: "\e949";
  }
  .tsicon-phone2:before {
    content: "\e94a";
  }
  .tsicon-pie-chart1:before {
    content: "\e94b";
  }
  .tsicon-play:before {
    content: "\e94c";
  }
  .tsicon-left-arrow2:before {
    content: "\e94d";
  }
  .tsicon-savings:before {
    content: "\e94e";
  }
  .tsicon-search1:before {
    content: "\e94f";
  }
  .tsicon-tag1:before {
    content: "\e950";
  }
  .tsicon-tags:before {
    content: "\e951";
  }
  .tsicon-tax:before {
    content: "\e952";
  }
  .tsicon-quote2:before {
    content: "\e953";
  }
  .tsicon-right-arrow2:before {
    content: "\e954";
  }
  .tsicon-feature_icon11:before {
    content: "\e955";
  }
  .tsicon-feature_icon1:before {
    content: "\e956";
  }
  .tsicon-feature_icon21:before {
    content: "\e957";
  }
  .tsicon-feature_icon2:before {
    content: "\e958";
  }
  .tsicon-feature_icon31:before {
    content: "\e959";
  }
  .tsicon-feature_icon3:before {
    content: "\e95a";
  }
  .tsicon-funfact_icon1:before {
    content: "\e95b";
  }
  .tsicon-funfact_icon2:before {
    content: "\e95c";
  }
  .tsicon-funfact_icon3:before {
    content: "\e95d";
  }
  .tsicon-menu_icon1:before {
    content: "\e95e";
  }
  .tsicon-menu_icon2:before {
    content: "\e95f";
  }
  .tsicon-menu_icon3:before {
    content: "\e960";
  }
  .tsicon-menu_icon4:before {
    content: "\e961";
  }
  .tsicon-menu_icon5:before {
    content: "\e962";
  }
  .tsicon-quote3:before {
    content: "\e963";
  }
  .tsicon-title:before {
    content: "\e964";
  }
  