body {
    font-family: "Manrope";
    font-style: normal;
}

h1 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
}

h2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
}

h3 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
}

h4 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
}




.entry-header .entry-title a:hover,
.sidebar ul li a:hover {
    color: #00AEBB;
}

.entry-header .entry-title a,
.course-tab-panel-faqs .course-faqs-box__title {
    color: #120F2D;
}

body {
    background-color: #fff;
}


.single-intro-text .count-number,
.sticky.post .meta-featured-post,
.latest-blog .post .post-meta span:before,
.sidebar .widget .widget-title:before,
.pagination li.active a:hover,
.tag-lists a:hover,
.tagcloud a:hover,
.BackTo,
.ticket-btn.btn:hover,
.btn-primary,
.BackTo,
.sponsor-web-link a:hover i,
#preloader,
.header .navbar-container .navbar-light .main-menu>li>a:before,
.tab-course-category ul li:before,
.co-single-instructor .co-instructors-socials li a:hover,
.course-entry-content .curriculum-content .curricolumn-list li a .curricolumn-preview,
.course-single-wrap .single-course .course-price-item span,
.single-course .course-category a:before,
.course-entry-content ul.nav li a:before,
.courselog-search-course-form .search-course-button,
.main-slider-style3 .slider-content .sub-title::before,
.main-menu .elementskit-navbar-nav>li>a::after,
.btn-primary,
.learnpress-page .lp-button,
.place-order-action .lp-button,
#learn-press-content-item #course-item-content-header .toggle-content-item,
#learn-press-content-item #course-item-content-header .lp-button:hover,
#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta span,
.course-entry-content .public-xs-review-box .xs-save-button button,
.header-login-user a sup,
.cartbtn a sup,
.user-dashboard .order-recover .button-recover-order,
.single_add_to_cart_button,
.tutor-btn,
.tutor-button,
a.tutor-btn,
a.tutor-button,
.courselog-events .entry-header .event-time:before,
.courselog-tab .courselog-navs-tab li a .title-content .content::before,
.learnpress-page .lp-button,
#checkout-payment #checkout-order-action button.lp-button,
.learndash-wrapper .ld-primary-background,
.learndash-wrapper .ld-tabs .ld-tabs-navigation .ld-tab.ld-active:after,
.learndash-wrapper .ld-primary-background,
.learndash-wrapper .ld-tabs .ld-tabs-navigation .ld-tab.ld-active:after,

.courselog-learndash-course .ld-single-course .ld-course-footer .ld-course-price,
.ld-related-course .ld-single-course .ld-course-footer .ld-course-price,
.user-dashboard #learn-press-profile-nav .learn-press-tabs.tabs li.active>a,
.user-dashboard #learn-press-profile-nav .learn-press-tabs.tabs li:hover>a {
    background: #00AEBB;
}

.btn-primary,
.btn-primary,
.learnpress-page .lp-button,
.place-order-action .lp-button,
.courselog-learndash-course .ld-single-course .ld-course-footer .ld-course-read-more:hover a,
.ld-related-course .ld-single-course .ld-course-footer .ld-course-read-more:hover a,
.single_add_to_cart_button,
.tutor-btn,
.tutor-button,
a.tutor-btn,
a.tutor-button,
#checkout-payment #checkout-order-action button.lp-button,
.owl-carousel .owl-dots .owl-dot.active {
    border-color: #00AEBB;
}

.user-dashboard .lp-profile-content .lp-tab-sections li.active span {
    border-bottom-color: #00AEBB;
}


#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-content .course-item.current a:hover {
    color: #fff;
}

.copyright .footer-social li a i:hover,
.copyright .copyright-text a,
.header .navbar-container .navbar-light .main-menu li a:hover,
.header .navbar-container .navbar-light .main-menu li.active>a,
.post .entry-header .entry-title a:hover,
a:hover,
.ts-course-category .single-course-category .course-category-title a:hover,
.courselog-events .entry-header .entry-title a:hover,
.footer-widget ul li a:hover,
.ts-footer .footer-menu li a:hover,
.courselog-course-latest h3.post-title a:hover,
.courselog-course-latest p,
.courselog-learndash-course .ld-single-course .ld-course-conent:hover .ts-title a,
.ld-related-course .ld-single-course .ld-course-conent:hover .ts-title a,
.courselog-learndash-course .ld-single-course .ld-course-footer .ld-course-read-more:hover a,
.ld-related-course .ld-single-course .ld-course-footer .ld-course-read-more:hover a,
.course-entry-content .curriculum-content .curricolumn-list li a i,
.course-entry-content .curriculum-content .curricolumn-list li a:hover,
.co-single-instructor .co-instructor-title a:hover,
.course-entry-content .curriculum-content .curriculmn-title:after,
.post-navigation span:hover,
.post-navigation h3:hover,
.comments-list .comment-reply-link:hover,
.tutor-custom-list-style li:before,
.ld-tabs .ld-tabs-navigation .ld-tab.ld-active span,
.courselog-tab .courselog-navs-tab li a .title-content .title-icon,
.quiz-intro-item--questions-count::before,
.user-dashboard .lp-profile-content table td a:hover,
.user-dashboard .lp-profile-content table th a:hover,
.user-dashboard .lp-profile-content .lp-list-table td a:hover,
.user-dashboard .lp-profile-content .lp-list-table th a:hover,
#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-content .course-item .section-item-link:hover {
    color: #00AEBB;
}

/*  secondary color   */

.single-course .course-footer .course-price-item .course-price,
.single-course .course-footer .course-price-item .free-course,
.btn-primary:hover,
.btn-primary:active,
.learn-press-form-login form button:hover,
.learn-press-form-login form button:active,
.learnpress-page .lp-button:hover,
.course-single-wrap .single-course:hover .course-price-item span,
.header--course-meta .course-price span,
.course-entry-content .public-xs-review-box .xs-save-button button:hover,
#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-content .course-item.item-preview .course-item-status,
#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-content .course-item.current:before,
.user-dashboard .lp-profile-content .lp-tab-sections,
.course-entry-content ul.nav,
.pagination li.active a,
.pagination li:hover a,
.pagination li:hover a:hover,
.learnpress-page .lp-button:active,
.place-order-action .lp-button:hover,
#checkout-payment #checkout-order-action button.lp-button:hover,
.place-order-action .lp-button:active {
    background-color: #00aebb;
}

.archive-widgets ul li.active a {
    color: #00aebb;
}

.btn-primary:hover,
.btn-primary:active,
.learn-press-form-login form button:hover,
.learn-press-form-login form button:active,
.learnpress-page .lp-button:hover,
.learnpress-page .lp-button:active,
.place-order-action .lp-button:hover,
#checkout-payment #checkout-order-action button.lp-button:hover,
.place-order-action .lp-button:active {
    border-color: #00aebb;
}




.ts-footer {
    background-color: #0f355c;
}



.copyright .copyright-text {
    color: #fff;
}

.course-footer span {
    margin-right: 15px;
}